<div>Primary font family: 'Avalon Regular', sans-serif</div>
<div><em>Primary font italic: 'Avalon Regular', sans-serif</em></div>
<div><strong>Primary font bold: 'Avalon Regular', sans-serif</strong></div>
<br />

<div class="font-light">Light font family: 'Avalon Light', sans-serif</div>
<div class="font-light"><em>Light font italic: 'Avalon Light', sans-serif</em></div>
<div class="font-light"><strong>Light font bold: 'Avalon Light', sans-serif</strong></div>

<br />

<div class="font-secondary">Secondary(Demi) font family: 'Avalon Demi', sans-serif</div>
<div class="font-secondary"><em>Secondary(Demi) font italic: 'Avalon Demi', sans-serif</em></div>
<div class="font-secondary"><strong>Secondary(Demi) font bold: 'Avalon Demi', sans-serif</strong></div>

<br />

<div class="font-bold">Bold font family: 'Avalon Bold', sans-serif</div>
<div class="font-bold"><em>Bold font italic: 'Avalon Bold', sans-serif</em></div>
<div class="font-bold"><strong>Bold font bold: 'Avalon Bold', sans-serif</strong></div>

<br />